body {
    background-color: #f0f0f0;
}

.welcome-message {
    font-size: 36px;
    margin-top: 100px;
    text-align: center;
}

.currency-rates {
    border: 2px solid #ccc;
    border-radius: 10px;
    display: inline-block;
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 150px;
    padding: 60px;
    text-align: left;
    width: 400px;
    float: left;
}

.currency-rates h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.currency-rates p {
    font-size: 18px;
    margin-bottom: 10px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    float: right;
}