{% extends 'banking/layout.html' %}
{% block titile %}Account {{ user.user.username }}{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'banking/css/style_account.css' %}">
{% endblock %}

{% block content %}
    <div class="account-container">
        <div class="user-info-container">
            <div class="user-info">
                <div class="avatar-container">
                    <img src="{% static 'banking/img/avatar.png' %}" alt="avatar" class="avatar">
                </div>
                <div class="account-details">
                    <h2>Name: {{ user.user.username }}</h2>
                    <p>Email: {{ user.user.email }}</p>
                    <p>Account balance: {{ user.balance }}</p>
                </div>
            </div>
            <div class="money">
                <h2>Send money</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <p>{{ message }}</p>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <input type="submit" value="Send money" />
                </form>
            </div>
        </div>
        <div class="logo">
            <img src="{% static 'banking/img/MXA_logo.png' %}" alt="MXA Banking" class="img-fluid">
        </div>
    </div>
{% endblock %}