{% extends 'banking/layout.html' %}
{% block title %}MXA Banking{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'banking/css/style_index.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div>
            {% if user.is_authenticated %}
                 <h1 class="welcome-message">Welcome {{ user.username }} to the MXA Banking system!</h1>
            <div>
                <img src="{% static 'banking/img/MXA_logo.png' %}" alt="MXA Banking" class="img-fluid">
            </div>
            <div class="currency-rates">
                <h2>Currency Exchange Rates</h2>
                <p>EUR/USD: {{ eur_rate }}</p>
                <p>GBP/USD: {{ gbp_rate }}</p>
                <p>BYN/USD: {{ byn_rate }}</p>
                <p>PLN/USD: {{ pln_rate }}</p>
            </div>
                {% else %}
                    <h1 class="welcome-message">Welcome to the MXA Banking system<br> Please log in</h1>
                {% endif %}
            </div>
    </div>
{% endblock %}}