{% load static %}
<!DOCTYPE html>
<html lang="eu">
<head>
    <meta charset="UTF-8">
    <title>{% block titile %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'banking/css/style_layout.css' %}">
    {% block head %}
    {% endblock %}
</head>
    <header>
        <div class="bank-name">
            <h1>MXA Banking</h1>
        </div>
        <nav>
            <ul>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'account' %}">Account</a></li>
                    <li><a href="#">Transactions</a></li>
                <li><b>{{ request.user.username }} | </b><a href="{% url 'logout' %}">Log out</a></li>
                {% else %}
                    <li><a href="{% url 'register' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Log In</a></li>
                {% endif %}

            </ul>
        </nav>
    </header>

    <main>
        {% block content %}

        {% endblock %}
    </main>

    <footer>
        <p>Banking App 2023</p>
    </footer>
</html>