{% extends 'banking/layout.html' %}
{% block title %}Transactions {{ user.user.username }}{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'banking/css/style_transactions.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Transactions</h2>

        <table class="table">
        <thead>
            <tr>
                <th>Sender</th>
                <th>Recipient</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        {% if user.is_staff %}
            {% for transfer in transfer_list %}
                <tr>
                  <td>{{ transfer.sender }}</td>
                  <td>{{ transfer.recipient }}</td>
                  <td>{{ transfer.amount }}</td>
                  <td>{{ transfer.date }}</td>
                </tr>
            {% empty %}
                <tr>
                  <td>No transactions yet.</td>
                </tr>
            {% endfor %}
          {% else %}
            {% for transfer in page_obj %}
                {% if transfer.sender == user.account %}
                    <tr>
                        <td>You({{ transfer.sender }})</td>
                        <td>{{ transfer.recipient }}</td>
                        <td>{{ transfer.amount }}</td>
                        <td>{{ transfer.date }}</td>
                    </tr>
                {% elif transfer.recipient == user.account %}
                    <tr>
                        <td>{{ transfer.sender }}</td>
                        <td>You({{ transfer.recipient }})</td>
                        <td>{{ transfer.amount }}</td>
                        <td>{{ transfer.date }}</td>
                    </tr>
                {% endif %}
            {% empty %}
                <tr>
                    <td>No transfers received yet.</td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
        </table>
    </div>

    {% if is_paginated %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

    <div class="download-btn">
        <a class="csv-download-link" href="{% url 'transactions_csv' %}" download="transactions.csv">Download transactions in CSV</a>
    </div>

{% endblock %}
